<form method="post" action="{{ path('offredappel_switch_delete', {'id': offredappel_switch.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offredappel_switch.id) }}">
    <button class="btn">Delete</button>
</form>
