{% extends 'base1.html.twig' %}

{% block title %}Edit AppeldoffreImprimente{% endblock %}

{% block body %}
    <h1>Edit AppeldoffreImprimente</h1>

    {{ include('appeldoffre_imprimente/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('appeldoffre_imprimente_index') }}">back to list</a>

    {{ include('appeldoffre_imprimente/_delete_form.html.twig') }}
{% endblock %}
