<form method="post" action="{{ path('offredappel_pcsds_delete', {'id': offredappel_pcsd.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offredappel_pcsd.id) }}">
    <button class="btn">Delete</button>
</form>
