{% extends 'base1.html.twig' %}

{% block title %}Edit AppeldoffrePcsds{% endblock %}

{% block body %}
    <h1>Edit AppeldoffrePcsds</h1>

    {{ include('appeldoffre_pcsds/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('appeldoffre_pcsds_index') }}">back to list</a>

    {{ include('appeldoffre_pcsds/_delete_form.html.twig') }}
{% endblock %}
